@using VampireTheEverythingSheetNoReact.Shared_Files
@model Trait

@{
    //TODO: Text box size
    string controlID = "trait-freetext-" + Model.TraitID;
    <div class="d-flex justify-content-between">
        <label for="@(controlID)">@(Model.Name)</label>
        <input type="text" id="@(controlID)" class="align-self-end" />
    </div>
}