@using Microsoft.AspNetCore.Html
@using VampireTheEverythingSheetNoReact.Models.Component
@using VampireTheEverythingSheetNoReact.Shared_Files
@using static VampireTheEverythingSheetNoReact.Shared_Files.VtEConstants

@{
    Character? character = ViewData["CharacterModel"] as Character;

    if (character == null)
    {
        @:<div class="text-center">No character data was retrieved. Please try again later.</div>
        ViewData["Title"] = "";
        return;
    }

    string charName = character.Name;

    if (!string.IsNullOrEmpty(charName))
    {
        ViewData["Title"] = charName + " - ";
    }

    @(await Component.InvokeAsync("Character", character))
}