@{
    string charName = "Character Name"; //TODO: Actual character name, dynamic update on blur
    ViewData["Title"] = string.IsNullOrEmpty(charName)
        ? ""
        : charName + " - ";
}

<div class="text-center">
@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["CharacterModel"])
</div>
